@media  screen and (max-width: 600px){
    
    .menu__list__item:nth-child(1){
        display: none;
    }

    .menu__list__item:nth-child(2){
        display: none;
    }

    .menu__list__item:nth-child(3){
        display: none;
    }

    .menu__list__item:nth-child(4){
        display: none;
    }

    .menu__list__item:nth-child(5){
        display: none;
    }
    
    section.menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: flex-end;
        margin: 0px 31px;
    }

    header.menu__header{
        display: flex;
        justify-content: space-between;
        margin-left: -23px;
    }
    
    section.menu nav ul.menu__list{
        width: 199px;
    }

    /*title*/

    section.title{
        margin: 0  10px;
    }


    section.title div.title__container h2{
        font-size: 22px;
        line-height: 32px;
        text-align: center;
    }

    section.title div.title__div div.title__container h3{
        font-size: 17px;
        line-height: 23px;
        width: 273px;
        text-align: center;
        
    }

    section.title div.title__div div.title__container ul{
        width: 328px;
        font-size: 16px;
        line-height: 0px;
        display: flex;
        justify-content: space-around;
    }
    
    section.title div.title__div {
        flex-direction: column;
    }
    
    section .title__profile {
        width: 98px;
        height: 98px;
    }

    /*about*/

    section.about{
        background-color: #d3e0eb;
        padding: 15px 33px;
    }

    section.about div.about__container{
        width: 330px;
    }

    /*skills*/

    section.skills {
        margin: 13px 31px;
    }

    h3.skills__title {
        text-align: center;
    }

    section.skills div.skills__line {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
    }

    /*hobbies*/

    section.hobbies {
        margin: 9px 32px;
    }

    h3.hobbies__title{
        text-align: center;
    }

    section.hobbies div.hobbies__line {
        display: grid;
    }

    div.hobbies__box {
        margin: 11px;
        height: 50px;
    }

    /*academic*/

    section.academic{
        background-color: #d3e0eb;
        padding: 1rem;
        margin-top: 2rem;
    }

    h2.academic__title{
        text-align: center;
    }

    div.academic__courses{
        display: flex;
        flex-direction: column;
    }

    /*experience*/

    section.experience{
    }

    h2.experience__section__title{
        text-align: center;
    }

    section.experience div.experience__box1{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    div.experience__info {
        margin-left: 2rem;
    }

    section.experience div.experience__box {
        display: flex;
        flex-direction: column;
    }

    button.experiencia__botao--repo {
        width: 96px;
        height: 40px;
        font-weight: bold;
        border: 1px solid;
        border-radius: 4px;
        background-color: darkred;
        color: white;

    }

    button.experiencia__botao--repo:hover {
        opacity: 0.6;
        text-decoration: none;
    }

    button.experience__botao--demo {
        width: 96px;
        height: 40px;
        font-weight: bold;
        border: 1px solid;
        border-radius: 4px;
        background-color: darkred;
        color: white;
    }

    button.experience__botao--demo:hover {
        opacity: 0.6;
        text-decoration: none;
    }

    /*form*/

    section.formcontato{
        background-color: #d3e0eb;
    }

    form.formcontato__form{
        padding: 3rem;
        display: flex;
        flex-direction: column;
    }

    input.formcontato__input {
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 56px;
        width: 296px;
    }

    section .formcontato__textarea {
        width: 296px;
        height: 133px;
    }

    button.formcontato__botao {
        margin-top: 1rem;
        width: 133px;
        height: 40px;
        font-weight: bold;
        border: 1px solid;
        border-radius: 4px;
        background-color: darkred;
        color: white;
    }

    button.formcontato__botao:hover {
        opacity: 0.6;
        text-decoration: none;
    }

    section .formcontato__img {
        display: none;
    }

    section .formcontato__title{
        text-align: center;
    }

    section .formcontato__subtext{
        text-align: center;
        padding: 1rem;
    }

    section.footer{
        text-align: center;
    }
    
}
